[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Andreas Jansson"]
license = "MIT"

[profile.release]
lto = true
strip = true
codegen-units = 1
panic = "abort"
